/* DEFAULTS
----------------------------------------------------------*/

body   
{
 
    font-size: .80em;
    font-family: 'Asap', Helvetica, Verdana, sans-serif;
    margin: 0px;
    padding: 0px;
    color: #696969;
}

a:link, a:visited
{
    color: #034af3;
}

a:hover
{
    color: #1d60ff;
    text-decoration: none;
}

a:active
{
    color: #034af3;
}

p
{
    margin-bottom: 10px;
    line-height: 1.6em;
}


/* HEADINGS   
----------------------------------------------------------*/
h1
{
    font-weight: 700;
    margin: 0px;
    padding: 0px 0px 0px 20px;
    color: #31b55c;
    border: none;
    line-height: 2em;
    font-size: 2.5em;
    text-align:center;
    font-family: "Droid Serif", Georgia, Times New Roman, Times, serif;
    text-shadow: 0px 0px 6px #b7ddc4;
    
    filter: dropshadow(color=#b7ddc4, offx=, offy=0); 
}
h2
{
    font-size:1.563em;
   font-weight:normal;
    color:#808080;
    font-family: 'Asap', Helvetica, Verdana, sans-serif;
}

.hppage h2 
{
 text-align:center;   
}

h3
{
    font-size: 1.2em;
}

h4
{
    font-size: 1.1em;
}

h5, h6
{
    font-size: 1em;
}

/* this rule styles <h1> and <h2> tags that are the 
first child of the left and right table columns */
.rightcol > h1, .rightcol > h2, .leftcol > h1, .leftcol > h2
{
    margin-top: 0px;
}


/* PRIMARY LAYOUT ELEMENTS   
----------------------------------------------------------*/

.page, .hppage
{
    width: 960px;
  min-height:550px;
    margin: 20px auto 0px auto;
   
}
.page .hppage 
{
    
 min-height:5px;   
}
header
{
    position: relative;
    margin: 0px;
    padding: 0px;
    width: 100%;
}



.main
{
    padding: 0px 12px;
    margin: 12px 8px 8px 8px;
    min-height: 20px;
}

.hppage section
{
    width:600px;
    margin:50px auto;
    clear:both;
}

.leftcol
{
    padding: 6px 0px;
    margin: 0;
    width: 290px;
    padding:0 0 10px 0;
    min-height: 200px;
    float:left;
}

.rightcol
{
    padding: 6px 0px;
    margin: 0;
    width: 290px;
     padding:0 0 0 10px;
    min-height: 200px;
    float:right;
}


#chart_page .leftcol
{
   
    width: 465px;
    margin:0 10px 0 0;
   
    float:left;
}

#chart_page .rightcol
{
    
    width: 465px;
     margin:0 10px 0 0;
     float:right;
 
}



footer
{
    color: #4e5766;
    padding: 8px 0px 0px 0px;
    margin: 0px auto;
    text-align: center;
    line-height: normal;
    border-top:5px solid #e5e5e5;
    min-height:50px;
    background:#f2f2f2;
}

.clear 
{
 clear:both;   
}
/* CONTENT  
----------------------------------------------------------*/

#vis_year, #vis_amount, .item span 
{
 color:#cb1e1e;   
}


.logo 
{
    
    display:inline-block;
    clear:both;
    position:relative;
    top:0;
    
}

.hppage p 
{
     text-align:center;
    
}

a.survey:link, a.survey:visited 
{
 display:inline-block;
 text-decoration:none;
 color:#808080;
 background:transparent url('/images/arw.png') no-repeat right;
 padding-right:55px;
    
}

.survey span 
{
    
 font-size:1.563em;   
}

.input 
{
 margin:30px 0 0 0;
}

.input a, .btn
{
 
 color:#FFFFFF;
text-decoration:none;
 background:#31B55C url('/images/warw.png') no-repeat right center;
 padding:10px 47px 10px 10px;
 display:inline-block;
 width:auto;
 margin:0 auto;
 border-radius:4px;
}
/* TAB MENU   
----------------------------------------------------------*/

div.hideSkiplink
{
    
    width:100%;
}

div.menu
{
    padding: 4px 0px 4px 8px;
}

div.menu ul
{
    list-style: none;
    margin: 0px;
    padding: 0px;
    width: auto;
}

div.menu ul li a, div.menu ul li a:visited
{
   
    border: 1px #4e667d solid;
    color: #dde4ec;
    display: block;
    line-height: 1.35em;
    padding: 4px 20px;
    text-decoration: none;
    white-space: nowrap;
}

div.menu ul li a:hover
{
  
    color: #465c71;
    text-decoration: none;
}

div.menu ul li a:active
{
    
    color: #cfdbe6;
    text-decoration: none;
}

/* FORM ELEMENTS   
----------------------------------------------------------*/
.formitem
{
 margin:0 0 20px 0;   
}
fieldset
{
    margin: 1em 0px;
    padding: 1em;
    border: 1px solid #ccc;
}

fieldset p 
{
    margin: 2px 12px 10px 10px;
}

fieldset.login label, fieldset.register label, fieldset.changePassword label
{
    display: block;
     font-family: 'Asap', Helvetica, Verdana, sans-serif;
}

fieldset label.inline 
{
    display: inline;
}

legend 
{
    font-size: 1.1em;
    font-weight: 600;
    padding: 2px 4px 8px 4px;
}

label 
{
    
 margin:0PX 0PX 5px 0PX;   
 display:block;
}

input
{
    
 border:0;
 width: 150px;
 background:#E5E5E5;   
 padding:5px 10px;
 color:#808080;
 font-style:italic;
 border-radius:4px;
}

.radio {width:auto; margin: 0 5px 0 0; }



input.textEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

input.passwordEntry 
{
    width: 320px;
    border: 1px solid #ccc;
}

div.accountInfo
{
    width: 42%;
}

/* MISC  
----------------------------------------------------------*/

.clear
{
    clear: both;
}

.title
{
    display: block;
    /*float: left;*/
    text-align: left;
    width: auto;
}

.loginDisplay
{
    font-size: 1.1em;
    display: block;
    text-align: right;
    padding: 10px;
    color: White;
}

.loginDisplay a:link
{
    color: white;
}

.loginDisplay a:visited
{
    color: white;
}

.loginDisplay a:hover
{
    color: white;
}

.failureNotification
{
    font-size: 1.2em;
    color: Red;
}

.bold
{
    font-weight: bold;
}

.submitButton
{
    text-align: right;
    padding-right: 10px;
}
#back
{
    
 background: #e5e5e5;   
}
    